matplotlib==3.10.3
Pillow==11.2.1
streamlit==1.45.1
prophet>=1.1.5
bokeh==2.4.3
holidays>=0.25
numpy<2.0
pytz==2025.2
PyYaml==6.0.2
b3fileparser==0.2.1
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0
google-api-python-client==2.172.0
google-generativeai==0.8.5
SCALECAST==0.19.10
python-dotenv==1.1.0
google-genai==1.45.0
yfinance== 0.2.66
openai==2.6.1
cmdstanpy==1.2.0
pystan==3.8.0
convertdate>=2.4.0
lunardate>=0.0.9
stanfordnlp>=0.2.0